.battlefield_cell {
  border: 1px solid #b4b4ff;
  padding: 0;
}

.battlefield_cell__busy {
  border-color: rgba(0, 0, 255, 0.1);
}

.battlefield_cell__content {
  position: relative;
  height: 2.125rem;
  width: 2.125rem;
}

.shipBox {
  box-sizing: content-box;
  z-index: 2;
  left: 0;
  top: 0;
  border: 2px solid #00f;
  background: rgba(0, 0, 255, 0.05);
  position: absolute;
  margin: -2px;
}

.ui_draggable {
  cursor: move;
}

.ui_draggable:hover {
  z-index: 2147483647;
}

.drag_over {
  background-color: rgba(180, 180, 255, 0.25);

  outline: 2px solid #6f6fff;
  outline-offset: -2px;

  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.6),
    0 0 8px rgba(111, 111, 255, 0.45);

  transition:
    background-color 120ms ease,
    box-shadow 120ms ease;
}

.battlefield_cell__done .battlefield_cell__content::after {
  box-sizing: content-box;
  content: '';
  display: block;
  height: 2.125rem;
  width: 2.125rem;
  border: 1px solid red;
  margin: -1px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.battlefield_cell__done .shipBox {
  border-color: red;
  background: rgba(255, 0, 0, 0.05);
}

.battlefield_cell__hit .battlefield_cell__content {
  background: 0 0;
  position: relative;
}

.battlefield_cell__hit .battlefield_cell__content .z {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.battlefield_cell__hit .battlefield_cell__content .z::after,
.battlefield_cell__hit .battlefield_cell__content .z::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: red;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.battlefield_cell__hit .battlefield_cell__content .z::before {
  left: 50%;
  width: 2px;
  top: -25%;
  height: 150%;
  margin-top: 1px;
}

.battlefield_cell__hit .battlefield_cell__content .z::after {
  top: 50%;
  height: 2px;
  left: -25%;
  width: 150%;
  margin-left: -1px;
}

.battlefield_cell__miss .battlefield_cell__content {
  background: #f2f4f8;
}

.battlefield_cell__miss .battlefield_cell__content .z {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  background: #333;
  border-radius: 50%;
  margin-top: -2px;
  margin-left: -2px;
}

.battlefield_cell__miss__auto .battlefield_cell__content .z {
  background: silver;
}

:global(.battlefield_rival) .battlefield_cell__empty:hover .battlefield_cell__content {
  cursor: pointer;
  position: relative;
}

:global(.battlefield_rival) .battlefield_cell__empty:hover .battlefield_cell__content::after {
  box-sizing: content-box;
  border: 2px solid #40bf44;
  background: rgba(64, 191, 68, 0.05);
  position: absolute;
  width: 2.125rem;
  height: 2.125rem;
  top: 0;
  left: 0;
  margin: -2px;
  content: '';
  display: block;
  cursor: pointer;
  z-index: 2;
}

.battlefield_cell__miss,
.battlefield_cell__hit,
.battlefield_cell__done {
  pointer-events: none;
}

.marker {
  position: absolute;
  font-size: 11px;
  user-select: none;
  pointer-events: none;
}
.marker__row {
  left: -3rem;
  width: 2.125rem;
  text-align: right;
  top: 1em;
  height: 1em;
}
.marker__col {
  top: -2.125em;
  left: 0;
  width: 100%;
  text-align: center;
}

.ship_types {
  display: inline-block;
}
.ship_type {
  overflow: hidden;
}
.ship {
  margin: 0 7px 13px 0;
  display: block;
  float: left;
}
.ship:last-child {
  margin-right: 0;
}
.ship_part {
  width: 7px;
  height: 7px;
  margin: 0 1px 0 0;
  background: #c5c5ff;
  display: block;
  float: left;
}
.ship__killed .ship_part {
  background: #ffaeae;
}
.ship_part:last-child {
  margin-right: 0;
}

.modal_overlay {
  position: fixed;
  inset: 0;
  background: url('Assets/images/modal-overlay.svg') center/cover no-repeat fixed;
  display: grid;
  place-items: center;
  z-index: 2000;
}

.modal {
  background-color: #e8e8e8;
  height: 150px;
  width: 400px;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.modal__btn {
  height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #292524;
  transition: all 0.3s;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.modal__btn:active {
  transform: scale(0.9);
}

.input {
  border: 1px solid transparent;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow:
    13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}

.input:user-invalid {
  border-color: red;
}

.error {
  position: absolute;
  color: red;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 2px 4px;
}

.arrowRight {
  filter: brightness(0) invert(1);
}
