:root {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #fff;
  display: grid;
  height: 100vh;
  grid-template: 80px 1fr/ 1fr;
}

.container {
  min-width: 990px;
  max-width: 1080px;
  justify-self: center;
  min-height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 250, 250, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgb(0 0 0 / 15%);
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.notifications {
  flex-basis: 400px;
}

.notification {
  background: #e3e3e3;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
}

.battlefield_wrapper {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 90px;
}

.battlefield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.battlefield_self {
  margin-left: 130px;
}
.battlefield_rival {
  margin-right: 120px;
}

.battlefield_table {
  min-width: 341px;
  min-height: 341px;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.battlefield_table__disabled tbody {
  opacity: 0.4;
  pointer-events: none;

  & td {
    border: 1px solid rgba(180, 180, 255, 0.5);
  }
}

.battlefield_label {
  font-size: 0.8em;
  position: relative;
  text-align: center;
  bottom: -10px;
  width: 100%;
}

.battlefield_label__comment {
  font-size: 0.9em;
  font-style: italic;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -100%;
}

.battlefield_table__disabled + .battlefield_label,
.battlefield_table__disabled ~ .battlefield_stat {
  opacity: 0.4;
  pointer-events: none;
}

.battlefield_start {
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 101;
  text-align: left;
  padding: 0 1rem;
}

.battlefield_start__button {
  border: 1px solid #d6d6d6;
  background: #d5efd6;
  background: linear-gradient(to bottom, rgba(225, 250, 225, 1) 0, rgba(195, 222, 197, 1) 100%);
  margin: 1em 0 0;
  padding: 0.2em 0.8em;
  font-size: 1.32em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  line-height: 1;
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  display: inline-block;
}

.battlefield_start__button:active {
  top: 2px;
  position: relative;
}

.none {
  display: none;
}

.none__visible {
  visibility: hidden;
}

.copyright {
  border-top: 1px dashed #707070;
  padding: 5px 0 0;
  margin: 1em 20px;
  font-size: 0.76rem;
  color: #999;
  display: flex;
  justify-content: center;
}

.clearfix::after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.leave {
  font-size: 0.8em;
}

.leave_link {
  color: #a80000;
}

.placeships {
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  position: absolute;
  bottom: -4em;
}

.battlefield_stat {
  position: absolute;
  top: 40px;
}

.battlefield_self .battlefield_stat {
  left: -105px;
}

.battlefield_rival .battlefield_stat {
  right: -95px;
}

.settings {
  padding: 0 100px;
  font-size: 0.76em;
  margin: 20px 0 0;
}

.settings_label {
  float: left;
  margin: 0 1em 0 0;
}

.setting {
  float: left;
  margin: 0 2em 0 0;
}

.setting:first-child {
  margin-top: 0;
}

.setting:last-child {
  margin-bottom: 0;
}

.setting_input {
  margin: 0 0.25em 0 0;
  position: relative;
  padding: 0;
  bottom: -1px;
  float: left;
}

.setting_input:disabled + .setting_label {
  color: #666;
}

.notification-message {
  font-weight: 500;
  position: relative;
  z-index: 0;
}

.notification__game-over-win {
  background: green;
  color: #fff;
}

.notification__game-over-lose,
.notification__game-error {
  background: red;
  color: #fff;
}

.notification-submit {
  margin-top: 0.6rem;
  padding: 2px 8px;
}
