.placeships_variant {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
  top: 4em;
  padding-right: 22px;
  position: relative;
}

.placeships_variant__link {
  color: #0034ab;
  border-bottom: 1px dotted;
  cursor: pointer;

  &:hover {
    color: #00a405;
  }
}

.placeships_variant .placeships_variant__link::after {
  position: absolute;
  content: '';
  display: block;
  height: 16px;
  width: 26px;
  right: 0;
  top: 1px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowODgwMTE3NDA3MjA2ODExOTJCMDlENjM4RTNGNUZFMCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDQkYxOUM5NzhGNDUxMUUyODkxNkRCRUJGRUI5MjVGMSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDQkYxOUM5NjhGNDUxMUUyODkxNkRCRUJGRUI5MjVGMSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkM0MEY3ODRGQ0EyMTY4MTE5MkIwOUQ2MzhFM0Y1RkUwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA4ODAxMTc0MDcyMDY4MTE5MkIwOUQ2MzhFM0Y1RkUwIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+WMuILwAACPJJREFUeNrsW39QFOcZfvfuuAMa5IfWhGC0YBSIUmyFEoFWfow1VILIRBw1EzpimyEYi6mdsYUWafkxMW1NTBOGWO3EPyqgMRlGRjB21EHayUgjjgY1FRRQgasgnOTulrvb7fvtLe1BvSPAAd7xPjPP7N633+59s8997/t++9xyoijCWOCij8MEoUYOiRdfmuj5///dg6Y9oOQugkZp+eW28LM3OwdvHfuo9QioFH3whMcB266T+d6ZgmqC50UhU5EJyAi57QryHPIkskluy0Puc9pozUJ+3eHE4qaWBw8L37wklOYuh8r6zuAF/prCtasD4YXXGjTY5y2wiJ7gpTSCC0IxgXNeRZazHyCyELlEZqHcVi738ULucOpoRYhL/t58yM8O99mQHuzb0a2Hzh4DRC4PgB8+/yRAnzE+PMyvclXMk52eGlXqbBCE3ejvILOQRcjzyD6Z5+W2LLnPJeR8J4/3YMnh6wNshzeLIAgiJKz8JrS06kDbx8OPkp9JK9z+3Ka/H06c9/R8r7+4uyAsTG1Hsjjd4qAfj/wuMpSlACeP9+P9f/3X3SGTAPt2RkDRwWsQvcwfbt4ZBL3BDJkZIaB9wIPuKxMTa9DdBUmV84M9MQKRv0F+hoyeZI56NDwUoOvWZ+TuuwRh3/KBG+0Prc0qBXAcB4MohILjwJUxHkHYzKhwcLwL+VvkPGQ4sl6+vnJSIxRElVRZGS3r2XwTBZHnhwTpkMli3eqNFil88ThzGF1Zk/H8gvvG0fc68gWkryyKZaIDfPop79NVJTGJ9f/o4Yv/0JyEV2viTdbLHf51lLRl4QtzBmxe+4z0eWDQ5PYzxEO+ueMFS8CTuztmUfDSKPmU2Kc0Gm9VChgsCd9+1jqUCHnLwpenWgmB8zwlfsNTBUol5+fOM4TFhn45DOXJM2AsRCJZkG+bzADvtQ5sSclrvKKtT51f/d4PClpu6WDPK6GOY2vVzf7eHsM77jxDLLIoa5HXkPflBB7o4Jx05CuTHuEcte6hVp9d9EGLmPb9wDHFkASpbjX0d391wN2TulneXkTGyAm8y07f52yqsknOYc5o5LiTe39/KX1vxRda45DjdPRlxyCoOWgCjVLt7oKwVfgN5OdIjYN+TIydyD/bPEKZzOoc6zQsm3w1NUV/vHxGN0bCLii/Ct1tumx4wqPb3QXR2qzAP5QflaxGBshcLbd9KPepcPpovVRF20s+t3ujzRaRrUmGcFZ5gwguifGUvX9CGuQb/U85JLFHJaMfLuY4ZWbYiUhN1x7o7R081dgN1dU3c8FH3TEb1iFv2+w3TeFNtw8MXQajxa/o4KMfFjTf6Aezh0LEBaToqoJwX8cPITyeOYRAgpAgBFdI6onn1kz0+pKnfjbh0wkPcF1t2uimPfLi1BIUFHS2u7v7lsViOQLWh58jVue162pmzQxhj1n3ymVur8xzcluUTb88J483PzUxtSwkJORj3P/kgxXlEBMTEzx37txCbGfPrn4h9/OcTSFr5jx1gLifeG2Dd8Pf9uE4zvequQXu378PKBDkeP+UHY9HViI75XWS2wsy4576z1rekDx1Vq4LYIGkhYnQ2dkJtyztrDktNjZ2E4YqZpKRpy5jSj3127dv3zWKPOSv+RX8rqEEXtSsg56eHugX+iE6OhoGBgagV5C8NPLUYao9dSsyftywDWLVz4Neb32KolKpcBGvAKPRCAqFaxeOj7+nbhWVVVbrh2eg2Wwe0cFkMoFJNFu3SA5c11R/7D11xOmXk19OPP/leR5zRRJ+bmI3neHna96wll4YvsJVofDqIimxg1bQuv0MmTlPHUCYw/nwSUsTmQeTgkxYuHChdCBJnSBtWfjy5rxhqepZiXO4OazZz50FGfbU65BhX/Mc5qmHOGGMW94/Uz6Q6fkSJCckFyxZsqQey16HJ5RcL2NjfcedQ9ZoT71XzikHwb6Nmy5XWXsnOUYdMvu1q6/XvL/8XQ6Wjn0CVmKG0at2d0zqM+OpA7B/sZ9sb29Pz7myQ6sX9Q47f2Ziw5O8GvLUbcRwnqf+P9R0dHSc6RH+7Thc/a2UbbKR5KnDVHvqAEU76l6376lj6YtrkiHc9Z4NZe9j4akj7casA/r3gOf5XNwlT30a4Zf7xU57yXw4tJKnTpj+HEIgQUgQgisk9f3790/0+pKnvmvXrgkPMDMzc8RnQRAkT12hUFg2bNggeeoXLlw4wnFcH7aNWJ1XV1e7dZVlixl5Tx0LkPyCgoLitra2h0ePHhU2b94MjY2Nwf7+/oUrVqyA0tJSDfZ5C+mJ4tB76jANnnpERARkZGT4rFq1ypf56b29vRAcHAyRkZFgNpvjFyxYUBkWFtapVqvJU4dp8NRPnDgheerMpMLwBcuWLYM7d+5I1u3KlSvTNm7cuKm4uHgezhry1GVMqadeW1t7l4mxdetWOH78OCxevBgwj7AVOsTHx0vCMGsXwxZ56jDFnrr0LvrgYMahQ4cgKCgI7t27J7UrlUrpGHnqIzFlnjqrrPAXv15O7PywhWuxWJ3hoaEh6W9B//XUOfLUR8NpnnpAQMDpvLy8xMuXL/NYxo7w1HNycqQtC1+YMyAuLk76PPxvFHeeITPmqeMvX8CKiceyVuPh4ZGCsyVh0aJF0rFhb52FL+wjicKo0WhY6CJPfRSc4qljabulrKxsIDQ0FHbv3l2QlZVVj2Wvw3NOnTrVr9Pp6D31UXDKe+qYsHWYyLOPHTsmRkVFQXp6+pjn1NXVGVAQ8tRt4FRPHZP3ycrKynTMIVqWwB2hq6uLidiEIYs8dRsxnO6p402uqaqqOmMwGBz2Q+HY6j0bBSFPHabYU8ebXFRRUWH3RrMyGIUjT10+Pi2eemtrq92atrm5GRoaGnJRFPLUpwNswYc5xA8T/COPM08dy2QR+5GnTpj+HEIgQUgQAglCIEFIEAIJQoIQSBAShECCkCAEEoRAgpAgBBKEBCGQICQIgQQhQQgkCIEEIUEIJAgJQiBBSBACCUKCEEgQAglCghBIEBKEQIKQIAQShAQhkCAEEoQEIZAgLoT/CDAAEjasnFSTFCsAAAAASUVORK5CYII=);
  background-position: -1000px -1000px;
  background-repeat: no-repeat;
}

.placeships_variant__randomly .placeships_variant__link::after {
  background-position: 0 0;
}

.placeships_variant__randomly .placeships_variant__link:hover::after {
  background-position: 0 -20px;
}

.placeships_variant__hands .placeships_variant__link::after {
  background-position: -30px 0;
}

.placeships_variant__hands .placeships_variant__link:hover::after {
  background-position: -30px -20px;
}
