:root {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: rgb(206 47 74 / 60%);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(7 58 116);
  text-shadow: 2px 2px 3px rgb(7 58 116 / 40%);
}

.details {
  max-width: 520px;
  margin: 0 auto;
  background-color: blanchedalmond;
  padding: 14px 18px;
  border-radius: 12px;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 40%);
}

.inputGroup {
  position: relative;
  display: flex;
  gap: 10px;
  min-height: 84px;

  & div {
    flex: 0 0 50%;
  }
}

.input {
  padding: 6px 12px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid transparent;
  outline: 0;
  background-color: rgb(128 128 128 / 40%);
  color: rgb(0 0 0 / 85%);

  &:invalid {
    border-color: rgb(255 0 0 / 45%);
  }

  &:valid {
    border-color: rgb(74 180 221);
  }
}

label {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(0 0 0 / 70%);
}

.submitBtn {
  padding: 3px;
  border-radius: 4px;
  flex-grow: 1;
  align-self: flex-end;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #4b8ad1;
  border: none;
  cursor: pointer;

  &:active {
    background-color: #4b8ad1c2;
    outline: 2px solid skyblue;
  }
}

.error {
  display: block;
  color: rgb(255 0 0 / 80%);
  font-size: 0.8rem;
}

.submit_success {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  color: rgb(93 68 6);
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.submit_success.show {
  opacity: 1;
}
